img.logo {
    height: 32px;
    margin-top: -8px;
    padding-right: 16px;
    float: left;
}

a {
    color: #7ab8ed;
}

a:hover,
a:visited {
    color: #7ab8ed;
    text-decoration: underline;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: #2f4f81;
}

.with-img-background {
    background-image: url("../img/brand_img.png");
}

h1 {
    color: white;
    text-align: center;
}

.navbar {
    margin: 16px;
}

.navbar a {
    color: #337ab7;
}

.breadcrumb {
    margin: 0 auto;
    background-color: white;
    font-size: 20px;
}

div.container {
    width: 100%;
}

div.container-buttons {
    height: 75%;
    width: 75%;
    margin: 0 auto;
}

a.play,
a.paint,
a.start {
    font-size: 24px;
    color: white;
    background-color: #329ecb;
}

a.play,
a.paint {
    width: 50%;
    bottom: 20px;
    position: relative;
    margin-top: -60px;
    top: 100%;
    float: left;
}

a.paint {
    margin-left: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

a.play {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

a.start {
    width: 30%;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

i {
    padding: 5px;
}

.play-current-image-button {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: white;
}

@media (min-width: 480px) {
    #canvas,
    img#previewing {
        border: 1px solid #000000;
        margin: 0 auto;
        width: 480px;
        height: 480px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        background-color: white;
        z-index: 1;
    }
    div.settings {
        width: 432px;
    }
    .container-canvas {
        height: 480px;
        padding-left: 0;
    }
    .play-current-image-button {
        width: 160px;
        height: 160px;
        border-radius: 80px;
        padding-top: 35px;
        padding-left: 5px;
        font-size: 72px;
        margin-top: -320px;
    }
}

@media (max-width: 479px) {
    #canvas,
    img#previewing {
        border: 1px solid #000000;
        margin: 0 auto;
        width: 360px;
        height: 360px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        background-color: white;
        z-index: 1;
    }
    div.settings {
        width: auto;
    }
    .container-canvas {
        height: 360px;
        padding-left: 0;
    }
    .play-current-image-button {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        padding-top: 20px;
        padding-left: 5px;
        font-size: 64px;
        margin-top: -240px;
    }
}

@media (max-width: 359px) {
    #canvas,
    img#previewing {
        border: 1px solid #000000;
        margin: 0 auto;
        width: 320px;
        height: 320px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        background-color: white;
        z-index: 1;
    }
    div.settings {
        width: auto;
    }
    div.settings ul li {
        font-size: 12px;
    }
    .container-canvas {
        height: 320px;
        padding-left: 0;
    }
    .play-current-image-button {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        padding-top: 20px;
        padding-left: 5px;
        font-size: 64px;
        margin-top: -220px;
    }
}

img#previewing {
    background-color: #ccc;
}

div.settings-size {
    margin: 0 auto;
}

.size {
    float: left;
}

.size li a {
    padding: 5px 8px;
}

.size-icon {
    float: left;
    color: white;
    margin-right: 10px;
}

.settings {
    margin: 0 auto;
}

a {
    cursor: pointer;
}

@media (min-width: 1200px) {
    a.save-image-button,
    a.reload-button,
    a.get-hardcopy-button {
        width: 33.33%;
        float: left;
        margin: 0 auto;
        top: 30px;
        margin-top: 20px;
        display: block;
        font-size: 16px;
    }
    div.container-buttons-after-canvas {
        margin: 0 auto;
        height: 10%;
        width: 50%;
        margin-top: 30px;
    }
    div.container-user-information {
        margin: 0 auto;
        width: 50%;
        margin-top: 30px;
    }
}

@media (max-width: 1199px) {
    a.save-image-button,
    a.reload-button,
    a.get-hardcopy-button {
        width: 100%;
        float: none;
        margin: 0 auto;
        top: 30px;
        margin-top: 20px;
        display: block;
        font-size: 16px;
    }
    div.container-buttons-after-canvas {
        margin: 0 auto;
        height: 10%;
        width: 75%;
        margin-top: 20px;
    }
    div.container-user-information {
        margin: 0 auto;
        width: 75%;
        margin-top: 20px;
    }
}

div.input-group {
    width: 75%;
    float: left;
    margin-bottom: 40px;
}

div.input-group input {
    height: 36px;
    border-radius: 2px;
    margin-top: 1px;
}

input.submit {
    width: 25%;
    float: left;
}

.container-user-information p {
    font-size: 16px;
    color: white;
}

div.thank-you {
    margin-bottom: 40px;
}

div.button-checkbox {
    font-size: 14px;
    color: white;
    margin-left: 20px;
    float: left;
    padding: 5px 20px 0px 20px;
    background-color: #337ab7;
    border-radius: 3px;
    margin-top: 10px;
    background-color: transparent;
}

div.button-checkbox input {
    margin-top: 8px;
    float: left;
}

div.button-checkbox p {
    margin-top: 4px;
    float: left;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 40px;
}

.footer {
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 13px;
}

.footer li {
    list-style-type: disc;
    text-align: center;
    display: inline;
    font-size: 14px;
}

.footer-link {
    color: white;
}

.footer-link:hover,
.footer-link:visited {
    color: white;
}

div.text-content {
    font-size: 16px;
    color: white;
    margin-bottom: 100px;
}

div.browse-file {
    float: left;
    width: 67%;
}

div.upload-button {
    float: left;
    width: 33%;
}

div.upload-button input {
    width: 90%;
    margin-left: 10%;
}

div.browse-file input {
    height: 34px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.selectImage {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
}

.alert-info {
    width: 75%;
    margin: 0 auto;
}

.alert-info a {
    color: #337ab7;
}

.container-play {
    padding-bottom: 120px;
}

.img_01 {
    border: 0;
    width: 80%;
    padding: 20px;
}

.userGuideBody {
    background-color: grey;
}

.userGuideContent {
    font-size: 16px;
}

.report-img2, .report-img1{
    width: 600px;    
    display:block;
    margin-bottom:20px; 
    margin-left:auto; 
    margin-right:auto;
}

.report-img2{
    height: 300px;    
}

.report-img1{
    height: 380px;
}

.userGuide-img{
    display:block;
    margin-left:auto; 
    margin-right:auto;
}

.userGuide-actions{
    margin-top: 20px;
}

.report-demo{
    display:block;
    margin-left:auto; 
    margin-right:auto;
    width: 700px;
    height: 480px;
}